/* Here you can write your CSS code */

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

.l-header {
  background-color: #333333;
  display: flex;
  justify-content: center;
}

.logo-android-pill {
  margin: 0 0 0 50px;
  padding: 0;
  width: 4rem;
}

.logo-android-pill-Carlos {
  margin: 0;
  padding: 0;
  align-self: center;
  width: 3rem;
}

.c-nav--main .btn--search:hover {
  color: #0088cc;
}

/* Index */

.lupa-Carlos {
  align-self: center;
}

.hero-carousel__title {
  font-weight: 600;
}

.hero-carousel__shapes-effects:after {
  background-color: #000000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-carousel__header {
  color: #ffffff;
}

.indicator-icon-Carlos {
  background: #0088cc;
  bottom: 0;
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  -webkit-transition: left, width;
  transition: left, width;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.c-tabs-nav__indicator {
  background: #0088cc;
}

.c-tabs-nav__item.is-active .c-tabs-nav__link {
  color: #0088cc;
}

.btn {
  color: #0088cc;
}

.c-devices-pager-carousel__explore-btn {
  border: 2px solid #0088cc;
}

.c-device__title {
  color: #0088cc;
}

.button-span {
  padding-bottom: 20px;
}

.button-apple {
  position: relative;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 980px;
  background: #0071e3;
  color: #ffffff;
}

.button-apple:hover {
  background: #0077ed;
  color: #ffffff;
}

.section-Carlos {
  background-color: black;
}

.text-large-Carlos {
  color: white;
}

.text-normal2 {
  color: white;
}

/*PHONES---------------------------------------------------------------------------------------------------*/

/* FOOTER------------------------------------------- */

.footer-apple {
  background-color: #f2f2f2;
}

/* HEADER------------------------------------------- */

.c-nav-main-apple [role="menuitem"].has-divider {
  border-right: none;
  margin: 0;
  padding: 0;
}

/* nav header of page phones change color*/
.header-phones {
  background-color: #0a0a0a;
  max-height: 44px;
}

/*Section below header*/
.chapter-nav-phones {
  background-color: black;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  height: 100px;
  z-index: 9987;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  max-width: none;
}

.container-apple {
  padding: 0;
  max-width: none;
}

.c-tabs-nav__items-apple {
  border-bottom: none;
}
.c-tabs-nav__link-apple {
  color: white !important;
  opacity: 0.9;
  display: block;
  font-weight: 500;
  width: 100%;
  height: 54px;
  padding: 0;
}
/* Iconos del segundo header*/
.icon--svg:hover {
  color: #2997ff;
}

/*C-nav Afects header and footerI. */
/*c-nav-apple used in phones.html*/

.c-nav-apple [role="menuitem"] {
  text-transform: none;
}

.c-nav-main-apple {
  width: 100%;
}

.c-nav-main-apple [role="menuitem"] {
  font-size: 14px;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: #f5f5f7 !important;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 10px;
  opacity: 0.8;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;
}

.c-nav-main-apple [role="menubar"] {
  margin: 0 -30px !important;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.c-toggle-apple {
  margin: 18px 14px 33px 20px !important;
}
.c-nav-apple [role="menuitem"]:active,
.c-nav-apple [role="menuitem"]:focus,
.c-nav-apple [role="menuitem"]:hover {
  opacity: 1;
}

/* Cuando se hace click en el link  cambia opacidad*/

.c-nav-apple [role="menuitem"]:target {
  opacity: 0.4;
}

.c-nav--main .btn--search {
  color: #f5f5f7;
  position: relative;
  right: 0px;
  top: 0px;
  opacity: 0.8;
}

.c-nav--main .btn--search:hover {
  color: #f5f5f7;
  opacity: 1;
}

/* logo apple*/

#ac-globalnav .ac-gn-link-apple {
  background-size: 16px 44px;
  background-repeat: no-repeat;
  background-image: url(../../es_ES/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__cxwwnrj0urau_large.svg);
  background-position: center center;
  width: 16px;
}

/*end of cnav apple*/
/*END OF PHONES------------------------------------------------------------------------------------------*/

/* Enterprise */
.l-header-dani {
  background-color: rgba(0, 0, 0, 0.92);
  display: flex;
  justify-content: center;
  height: 44px;
  margin-bottom: 0px;
}

.l-header .c-nav--main-dani [role="menubar"] {
  margin: 0 -30px !important;
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .enter-subnav {
    height: 52px;
  }
}

.l-section__intro-dani {
  color: white;
  font-size: 48px;
  width: 80%;
  max-height: 50%;
  text-align: initial;
  margin-left: 10%;
}

.enterprise .ls-section--os .cascade-text--wrap {
  color: white;
}

.text-normal-dani {
  color: #a1a1a6;
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.003em;
}

.enter--home {
  background-image: url(https://i.pinimg.com/originals/22/6e/79/226e793190fdb3cdf3204e8fa8246a14.jpg);
  background-repeat: no-repeat;
  background-size: 45%;
  background-color: black;
}

.slide__content {
  color: white;
}

.c-nav--main- [role="menuitem"].has-divider {
  border-right: 0;
  margin-right: 0px;
  padding-right: 0px;
}

.u-bg-gray-light-dani {
  background-color: rgba(29, 29, 31, 0.72);
}

/* CLASS COPIED FROM BROWSER, IF TROUBLE DELETE */
.c-nav [role="menuitem"]:active,
.c-nav [role="menuitem"]:focus,
.c-nav [role="menuitem"]:hover {
  color: #929191;
}

.text-footer-apple {
  color: #c0c0c0;
}

.text-footer-apple a {
  color: #c0c0c0;
}
