/* Here you can write your CSS code */

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

.l-header {
  background-color: #333333;
  display: flex;
  justify-content: center;
}

.logo-android-pill {
  margin: 0;
  padding: 0;
  align-self: center;
  width: 3rem;
}

/* Index */

.hero-carousel__title {
  font-weight: 600;
}

.hero-carousel__shapes-effects:after {
  background-color: #000000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-carousel__header {
  color: #ffffff;
}

.indicator-icon-Carlos {
  background: #0088cc;
  bottom: 0;
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  -webkit-transition: left, width;
  transition: left, width;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.c-tabs-nav__indicator {
  background: #0088cc;
}

.c-tabs-nav__item.is-active .c-tabs-nav__link {
  color: #0088cc;
}

.btn {
  color: #0088cc;
}

.c-devices-pager-carousel__explore-btn {
  border: 2px solid #0088cc;
}

.c-device__title {
  color: #0088cc;
}

.button-span {
  padding-bottom: 20px;
}

.button-apple {
  position: relative;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 980px;
  background: #0071e3;
  color: #ffffff;
}

.button-apple:hover {
  background: #0077ed;
  color: #ffffff;
}

.section-Carlos {
  background-color: black;
}

.text-large-Carlos {
  color: white;
}

.text-normal2 {
  color: white;
}

/* Phones */

/* nav header of page phones change color*/
.header-phones {
  background-color: #0a0a0a;
}

/*Section below header*/
.chapter-nav {
  background: rgba(29, 29, 31, 0.6);
}

/* Enterprise */

/* Footer */

.footer-apple {
  background-color: #f2f2f2;
}

/* CLASS COPIED FROM BROWSER, IF TROUBLE DELETE */
.c-nav [role="menuitem"]:active,
.c-nav [role="menuitem"]:focus,
.c-nav [role="menuitem"]:hover {
  color: #929191;
}

.text-footer-apple {
  color: #c0c0c0;
}

.text-footer-apple a {
  color: #c0c0c0;
}
